/* ============================================
   1. FONT DEFINITIONS
   ============================================ */
   @font-face {
    font-family: 'monlam';
    src: url('./assets/font/MonlamUniOuChan2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* CRITICAL: This tells browser to ONLY use this font for Tibetan glyphs */
    unicode-range: U+0F00-0FFF;
    size-adjust: 115%;
  }
  
  @font-face {
    font-family: 'monlam-2';
    src: url('./assets/font/MonlamTBslim.woff2') format('woff2'),
         url('./assets/font/MonlamTBslim.woff') format('woff'),
         url('./assets/font/MonlamTBslim.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* CRITICAL: This tells browser to ONLY use this font for Tibetan glyphs */
    unicode-range: U+0F00-0FFF;
    size-adjust: 125%;
  }
  @font-face {
    font-family: 'monlam-3';
    src: url('./assets/font/Monlam-font-for-Web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* CRITICAL: This tells browser to ONLY use this font for Tibetan glyphs */
    unicode-range: U+0F00-0FFF;
    size-adjust: 115%;
  }
  @font-face {
    font-family: 'noto-black';
    src: url('./assets/font/NotoSerifTibetan-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* CRITICAL: This tells browser to ONLY use this font for Tibetan glyphs */
    unicode-range: U+0F00-0FFF;
    size-adjust: 115%;
  }
  @font-face {
    font-family: 'noto-bold';
    src: url('./assets/font/NotoSerifTibetan-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* CRITICAL: This tells browser to ONLY use this font for Tibetan glyphs */
    unicode-range: U+0F00-0FFF;
    size-adjust: 115%;
  }
  @font-face {
    font-family: 'noto-medium';
    src: url('./assets/font/NotoSerifTibetan-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* CRITICAL: This tells browser to ONLY use this font for Tibetan glyphs */
    unicode-range: U+0F00-0FFF;
    size-adjust: 115%;
  }
  @font-face {
    font-family: 'noto-regular';
    src: url('./assets/font/NotoSerifTibetan-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* CRITICAL: This tells browser to ONLY use this font for Tibetan glyphs */
    unicode-range: U+0F00-0FFF;
    size-adjust: 115%;
  }
  @font-face {
    font-family: 'noto-semibold';
    src: url('./assets/font/NotoSerifTibetan-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* CRITICAL: This tells browser to ONLY use this font for Tibetan glyphs */
    unicode-range: U+0F00-0FFF;
    size-adjust: 115%;
  }